<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Online</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 translate="no">Zoe Chat</h1>
        <p><a href="/register" translate="no">Registrar</a> | <a href="/login" translate="no">Login</a></p>
    </div>
</body>

</html>